In [82]:
import numpy as np
import pandas as pd

In [83]:
A=np.random.randint(0,10,12).reshape(3,4)
A

array([[8, 6, 2, 8],
       [8, 6, 6, 3],
       [1, 1, 9, 8]])

In [84]:
B=pd.DataFrame(A,['X','Y','Z'],['A','B','C','D'])
B

   A  B  C  D
X  8  6  2  8
Y  8  6  6  3
Z  1  1  9  8

In [85]:
B['A']

X    8
Y    8
Z    1
Name: A, dtype: int64

In [86]:
B['B']

X    6
Y    6
Z    1
Name: B, dtype: int64

In [87]:
B['C']

X    2
Y    6
Z    9
Name: C, dtype: int64

In [88]:
B[['A','B']]

   A  B
X  8  6
Y  8  6
Z  1  1

In [89]:
B['NEW']=B['A']+B['B']
B

   A  B  C  D  NEW
X  8  6  2  8   14
Y  8  6  6  3   14
Z  1  1  9  8    2

In [90]:
B.drop('NEW',axis=1)
B

   A  B  C  D  NEW
X  8  6  2  8   14
Y  8  6  6  3   14
Z  1  1  9  8    2

In [91]:
B.drop('NEW',axis=1,inplace=True)
B

   A  B  C  D
X  8  6  2  8
Y  8  6  6  3
Z  1  1  9  8

In [92]:
B.drop('Y',axis=0,inplace=True)
B

   A  B  C  D
X  8  6  2  8
Z  1  1  9  8

In [93]:
B.loc['X']

A    8
B    6
C    2
D    8
Name: X, dtype: int64

In [94]:
B.iloc[0]

A    8
B    6
C    2
D    8
Name: X, dtype: int64

In [95]:
B.loc['Z']

A    1
B    1
C    9
D    8
Name: Z, dtype: int64

In [96]:
B.iloc[1]

A    1
B    1
C    9
D    8
Name: Z, dtype: int64

In [97]:
B.loc['X','A']

8

In [98]:
B.loc['Z','B']

1

In [99]:
B.loc['X','C']

2

In [100]:
B.loc[['X','Z'],['A','B']]

   A  B
X  8  6
Z  1  1

In [101]:
B.loc[['X','Z'],['B','D']]

   B  D
X  6  8
Z  1  8

In [102]:
B

   A  B  C  D
X  8  6  2  8
Z  1  1  9  8

In [103]:
B.reset_index()

  index  A  B  C  D
0     X  8  6  2  8
1     Z  1  1  9  8

In [104]:
B

   A  B  C  D
X  8  6  2  8
Z  1  1  9  8

In [105]:
B.reset_index(inplace=True)
B

  index  A  B  C  D
0     X  8  6  2  8
1     Z  1  1  9  8

In [106]:
B.set_index('index')

       A  B  C  D
index
X      8  6  2  8
Z      1  1  9  8